.idea/
nyt_annotated_corpus/
results/
old/
pretrained_models/
fairseq/

database_creation/__pycache__/
modeling/__pycache__/
modeling/pretrained_models

notebooks/.ipynb_checkpoints/
notebooks/logs/
notebooks/experiments/
