.idea/
__pycache__/
database_creation/__pycache__/
modeling/__pycache__/
toolbox/__pycache__/

nyt_annotated_corpus/
old/
pretrained_models/

notebooks/.ipynb_checkpoints/
notebooks/logs/

results/annotation_task/annotations/
results/annotation_task/debug/
results/annotation_task/queries/
results/finetuning_data/
results/modeling_task/
results/models/
